.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 4rem; */
  width: 100%;
}

.intro {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  min-height: 100vh;
}
.introText {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.introText h1 {
  font-size: clamp(1.575rem, 3vw, 3rem);
  text-shadow: 4px 1px 6px #fff;
}

.name{
  text-shadow: 6px 1.5px 8px #1366c5;
}
.profile {
  display: flex;
  /* border-radius: 50%; */
  justify-content: end;
  width: 35%;
  border-radius: 50%;
  box-shadow: -20px 20px 50px -10px #726f6f93;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  animation: coinFlip 2.5s ease-in-out;
}

.about {
  width: 85%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: justify;
  margin-top: 4rem;
}

.aboutLine {
  border: 2px solid #f83333;
  width: 40%;
  margin-bottom: 2rem;
}

.about p {
  font-size: 22px;
}

@keyframes coinFlip {
  0% {
    transform: rotateY(0deg) translateY(0);
  }
  50% {
    transform: rotateY(180deg) translateY(-100px);
  }
  100% {
    transform: rotateY(360deg) translateY(0);
  }
}

@media only screen and (max-width: 900px) {


  .intro{
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3rem;
  }
  .introText{
    width: 90%;
  }
  .introText h1{
    text-align: center;
    font-size: 20px;
  }
  .profile{
    width: 40%;
  }

  .about p{
    font-size: 16px;
  }
}


@media only screen and (max-width: 768px) {
.intro{
  margin-top: 0;
}
}

@media only screen and (max-width: 650px) {

.profile{
  width: 70%;
}

.about{
  margin-top: 1rem;
}
}